
#splitView {
    margin-top: var(--navbar-height);
    height: calc(100% - var(--navbar-height));
}
#scroller {
    position: absolute;
    top:0;
    margin-left: var(--contacts-width);
    width: calc(100% - var(--contacts-width));
    height: calc(100vh - var(--navbar-height));
}
.container{
    display: grid;
    align-items: center;
    justify-items: start;
    height: 100%;
}
.node{
    position: absolute;
    left: -1px;
    top: 90%;
    display: block;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    border-color: var(--line-color);
    border-style: solid;
    border-width: 2px;
    background-color: var(--theme-color);
}
.text{
    padding: 50px 0px 50px 100px;
    opacity: 0;
}
.text h1{
    color: var(--line-color);
}
.text h2{
    margin:0;
    color:var(--highlight-color)
}
.text h4{
    margin:0;
    color:var(--lighter-text-color)
}
.text ul{
    margin-top: 3px;
    margin-left: -1em;
    font-size: large;
}
.text p{
    font-size: large;
    width: 80%;
}
.stage {
    text-align: left;
    height: 100%;
    width: 100%;
    vertical-align:middle;
}
.stage:last-child{
    margin-bottom: 34%;
}
.dynamicList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dynamicList>*{
    display:grid;
    padding: 10px;
    height: fit-content;
    flex-grow: 1;
}
.gridHeader{
    grid-column: 1 / span 2;
    height: 1em;
    padding-bottom: 0.5em;
    font-weight: bold;
}
.gridElement{
    height: 1em;
    min-width: 50px;
    padding-right: 5px;
    padding-bottom: 0.1em;
}
.gridElement:nth-child(odd){
    color:var(--highlight-color);
    text-align: end;
}